<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.14.2" targetFramework="net452" />
  <package id="LinqToExcel" version="1.10.1" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
</packages>